@model SolutionShop.ViewModel.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Thông tin sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeoAlias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeoAlias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LanguageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbnailImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThumbnailImage)
        </dd>
    </dl>
</div>
<div><a asp-action="Index" asp-controller="Product" class="btn btn-success">Trở về</a></div>
