@{ ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@model CheckoutViewModel
@{ ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ var culture = CultureInfo.CurrentCulture.Name; }
<ul class="breadcrumb">
    <li><a href="index.html" localize-content>Home</a> <span class="divider">/</span></li>
    <li class="active" localize-content> SHOPPING CART</li>
</ul>
<h3>
    Giỏ hàng [ <small>@Model.CartItems.Count Sản phẩm </small>]
</h3>
<hr class="soft" />
@if (TempData["SuccessMsg"] != null)
{
<span class="alert alert-success">@TempData["SuccessMsg"]</span> }
else
{

<table class="table table-bordered">
    <thead>
        <tr>
            <th localize-content>Product</th>
            <th localize-content>Description</th>
            <th localize-content>Quantity/Update</th>
            <th localize-content>Price</th>
            <th localize-content>Tax</th>
            <th localize-content>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
<tr>
    <td> <img width="60" src="@(Configuration["BaseAddress"] + item.Image)" alt="" /></td>
    <td>@item.Description</td>
    <td>
        @item.Quantity
    </td>
    <td>@item.Price</td>
    <td>@(item.Price/10)</td>
   
    <td>@(item.Quantity*item.Price)</td>
</tr>}

        <tr>
            <td colspan="5" style="text-align:right"><strong>TOTAL =</strong></td>
            <td class="label label-important" style="display:block"> <strong> @(Model.CartItems.Sum(x => x.Quantity * x.Price)*1.1M)</strong></td>
        </tr>
    </tbody>
</table>
                <table class="table table-bordered">
                    <tr><th localize-content>ESTIMATE YOUR SHIPPING </th></tr>
                    <tr>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
            <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
                <div style="display:none">
                    <div class="control-group">
                        <label class="control-label" for="inputCountry" localize-content>Name </label>
                        <div class="controls">
                            <input type="text" id="inputCountry" asp-for="CheckoutModel.Name" placeholder="Name" value="@User.Identity.Name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputCountry" localize-content>Address</label>
                        <div class="controls">
                            <input type="text" id="inputCountry" asp-for="CheckoutModel.Address" placeholder="Address" value="VietNam">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputCountry" localize-content>Email </label>
                        <div class="controls">
                            <input type="text" id="inputCountry" asp-for="CheckoutModel.Email" placeholder="Email" value="google@gmail.com">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputCountry" localize-content>PhoneNumber </label>
                        <div class="controls">
                            <input type="text" id="inputCountry" asp-for="CheckoutModel.PhoneNumber" placeholder="PhoneNumber" value="0123456789">
                        </div>
                    </div>
                </div>
                @if (Model.CartItems.Count > 0)
                {
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn" localize-content>Purchase</button>
    </div>
</div>}
            </form> }
        else
        {
<form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
    <div class="control-group">
        <label class="control-label" for="inputCountry" localize-content>Name </label>
        <div class="controls">
            <input type="text" id="inputCountry" asp-for="CheckoutModel.Name" placeholder="Tên">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCountry" localize-content>Address </label>
        <div class="controls">
            <input type="text" id="inputCountry" asp-for="CheckoutModel.Address" placeholder="Địa chỉ">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputCountry" localize-content>Email </label>
        <div class="controls">
            <input type="text" id="inputCountry" asp-for="CheckoutModel.Email" placeholder="Hòm thư">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputCountry" localize-content>PhoneNumber </label>
        <div class="controls">
            <input type="text" id="inputCountry" asp-for="CheckoutModel.PhoneNumber" placeholder="SĐT">
        </div>
    </div>

    @if (Model.CartItems.Count > 0)
    {
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn" localize-content>Purchase</button>
    </div>
</div>}
</form>}
                        </td>
                    </tr>
                </table>
                                <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Trở về </a>}